@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./variables.css);



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #404040;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

/*header*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/about-bg-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*bloc logo et navibar*/



.navBar {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;
    /* enlève les puces*/
}

.onglets {
    padding: 0;
    margin: 0;
    width: 40%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 150px;
    height: 42px;
    vertical-align: middle;
}


.takeAction {
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    border: 1px;
    border-radius: 80px;
    background-color: #FB2056;
    padding: 17px 40px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}



/*bloc de titre*/

h1 {
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
    height: 89px;
}


/********  Section 02 ******/

main>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    background-color: var(--backgroundColor);
}

.scDv {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    width: 60%;
    height: 23%;


}

.scTr {
    display: flex;
    gap: 20px;
    align-items: center;
}

div>img {
    height: 50%;
    width: 20%;


}


hr {
    height: 3px;
    width: 71px;
    background-color: #FB2056;
    border: none;
    margin: 5px 0 5px 0;
}


h6 {
    font-size: 1rem;
}

h2 {
    font-size: 2.13rem;
    margin: 20px 0 10px 0;
}










/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    height: 160px;
    color: #FFFFFF;
}

footer p {

    margin: 0;

}

#ft-p {
    margin-bottom: 28px;
}